body{
    margin:0px;
    padding:0px;
}
#webcam{
    width: 100%;
}
#console {
    width: 100%;
    height: 150; 
    top: 300px;
    background-color: rgb(162, 168, 168);
    font-family: "verdana";
    font-size: 11;
}
#controls {
    
}